# Master CDRs sent to elastichsearch server
<source>
  type tail
  path /usr/local/freeswitch/log/cdr-csv/Master.csv
  pos_file /var/log/td-agent/cdr_csv.log.pos
  tag cdrs.fs
  refresh_interval 10
  types duration:integer,billsec:integer
  format /^\s?"?(?<caller_id_name>[^,"]*)"?,\s?"?(?<caller_id_number>[^,"]*)"?,\s?"?(?<destination_number>[^,"]*)"?,\s?"?(?<context>[^,"]*)"?,\s?"?(?<start_stamp>[^,"]*)"?,\s?"?(?<answer_stamp>[^,"]*)"?,\s?"?(?<end_stamp>[^,"]*)"?,\s?"?(?<duration>[^,"]*)"?,\s?"?(?<billsec>[^,"]*)"?,\s?"?(?<hangup_cause>[^,"]*)"?,\s?"?(?<uuid>[^,"]*)"?,\s?"?(?<bleg_uuid>[^,"]*)"?,\s?"?(?<accountcode>[^,"]*)"?,\s?"?(?<read_codec>[^,"]*)"?,\s?"?(?<write_codec>[^,"]*)"?,\s?"?(?<sip_user_agent>[^,"]*)"?,\s?"?(?<sip_p_rtp_stat>[^,"]*)"?,\s?"?(?<channel_name>[^,"]*)"?,\s?"?(?<bridge_channel>[^,"]*)"?,\s?"?(?<last_app>[^,"]*)"?,\s?"?(?<sip_gateway>[^,"]*)"?,\s?"?(?<sip_profile_name>[^,"]*)"?,\s?"?(?<sip_gateway_name>[^,"]*)"?$/
</source>


<match cdrs.**>
  type record_modifier
  gen_host ${hostname}
  cluster testing
  tag fs.testing.${hostname}
</match>

<match fs.**>
  type secure_forward
  shared_key sUlWoNk
  self_hostname ${hostname}
  allow_self_signed_certificate true
  keepalive 3600
  buffer_type file
  buffer_path /var/log/td-agent/log_buffer/fluent.*.buffer
  buffer_chunk_limit 1m
  buffer_queue_limit 2048
  flush_interval 30s
  retry_limit 10
  retry_wait 10s
  <server>
    host td-agent-elb-5033245.ap-southeast-1.elb.amazonaws.com
    port 2514 
  </server>
</match>

