
<source>
  type tail
  path /var/log/tomcat7/catalina.out
  pos_file /var/log/td-agent/catalina.out.pos
  tag logs.catlina.out
  refresh_interval 10
  format none
</source>
<source>
  type tail
  path /var/log/tomcat7/cs-5.5.1.log
  pos_file /var/log/td-agent/cs-5.5.1.log.pos
  tag logs.cs-5.5
  refresh_interval 10
  format none
</source>
<source>
  type tail
  path /var/log/tomcat7/ds-5.5.1.log
  pos_file /var/log/td-agent/ds-5.5.1.log.pos
  tag logs.ds-5.5
  refresh_interval 10
  format none
</source>
<source>
  type tail
  path /var/log/tomcat7/ds-error-5.5.1.log
  pos_file /var/log/td-agent/ds-error-5.5.1.log.pos
  tag logs.ds-error5.5
  refresh_interval 10
  format none
</source>
<source>
  type tail
  path /var/log/tomcat7/webastra-5.5.1.log
  pos_file /var/log/td-agent/webastra-5.5.1.log.pos
  tag logs.webastra5.5
  refresh_interval 10
  format none
</source>
<source>
  type tail
  path /var/log/tomcat6/catalina.out
  pos_file /var/log/td-agent/catalina.out.pos
  tag logs.catlina.out
  refresh_interval 10
  format none
</source>
<source>
  type tail
  path /var/log/tomcat6/cs-5.5.1.log
  pos_file /var/log/td-agent/cs-5.5.1.log.pos
  tag logs.cs-5.5
  refresh_interval 10
  format none
</source>
<source>
  type tail
  path /var/log/tomcat6/ds-5.5.1.log
  pos_file /var/log/td-agent/ds-5.5.1.log.pos
  tag logs.ds-5.5
  refresh_interval 10
  format none
</source>
<source>
  type tail
  path /var/log/tomcat6/ds-error-5.5.1.log
  pos_file /var/log/td-agent/ds-error-5.5.1.log.pos
  tag logs.ds-error5.5
  refresh_interval 10
  format none
</source>
<source>
  type tail
  path /var/log/tomcat6/webastra-5.5.1.log
  pos_file /var/log/td-agent/webastra-5.5.1.log.pos
  tag logs.webastra5.5
  refresh_interval 10
  format none
</source>
<match logs.**>
  type record_modifier
  gen_host ${hostname}
  tag app.${hostname}
</match>

#<match app.**>
#  type grep
#  exclude \ERROR
#  add_tag_prefix filtered
#</match>
#<match ERROR**>
#  type stdout
#</match>
<match app.**>
  type secure_forward
  secure no
  shared_key sUlWoNk
  self_hostname ${hostname}
#  cert_auto_generate no
  keepalive 3600
  buffer_type file
  buffer_path /var/log/td-agent/log_buffer/fluent.*.buffer
  buffer_chunk_limit 1m
  buffer_queue_limit 2048
  flush_interval 30s
  retry_limit 10
  retry_wait 10s
 <server>
  host 45.55.255.180
  port 2514
 </server>
</match>
